<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/beta/home/errHandler.asp" responseMode="ExecuteURL" />
            <error statusCode="500" subStatusCode="100" path="/beta/home/errHandler.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
